.navbar{
    width: 100%;
    background-color: black;
   color: white;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo  img{
    width: 40px;
    height: 40px;
}
.navbar .logo h2{
   font-size: 30px;
   font-weight: bold;
}
.navbar .nav-links ul{
    display: flex;
    gap: 50px;
}
.navbar .nav-links ul li{
    list-style: none;
}
.navbar .nav-links ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: black;
    transition: 0.3s;
}
.active-link{
    color: rgb(15, 210, 103);
    text-decoration: underline;
}
.navbar .nav-links ul li a:hover{
    background-color: rgb(0, 188, 85);
    color: white;

}
.navbar .nav-btns a{
    background-color: rgb(0, 188, 85);
   padding: 5px 10px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bold;
   transition: 0.3s;
   text-decoration: none;
}
.navbar .nav-btns a:hover{
    background-color: rgb(104, 102, 102);
}